.box-container {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 1px solid;
  display: inline-block;
  border-radius: 10px;
  /* background-color: black; */
  /* background-color: tomato; */
}
