.container--addItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-addItems {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  cursor: pointer;
  background-color: tomato;
  border: none;
}
